<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new doctor</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style.css">
    <script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<td class="gwp9e44da2e_container">

    <div class="gwp9e44da2e_content">
        <table>
            <tbody>
            <tr>
                <td class="gwp9e44da2e_center">
                    <h3>Rezerwacja biletów</h3>
                    <p>numer rezerwacji: <strong class="gwp9e44da2e_transaction-number">601761</strong>
                    </p>
                    <p>Kupujący: <span class="gwp9e44da2e_strong">Magdalena
Karolczuk</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="gwp9e44da2e_center"><span class="gwp9e44da2e_strong">Szanowna(y)
Pani(e), </span>
                        przesyłamy podsumowanie dotyczące zarejestrowanej przez Ciebie
                        rezerwacji biletów. </p>
                </td>
            </tr>
            <tr>
                <td>
                <hr>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="gwp9e44da2e_center"><span class="gwp9e44da2e_strong">Kino Atlantic</span>
                        ul. Chmielna 33 00-021 Warszawa
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
            </tr>

            <tr>
                <td class="gwp9e44da2e_title gwp9e44da2e_color-primary">
                    <div class="gwp9e44da2e_color-primary">Twoje bilety:</div>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="gwp9e44da2e_tickets">
                        <tbody>
                        <tr>
                            <td class="gwp9e44da2e_padding">
                                Seans: <span class="gwp9e44da2e_title">Boże Ciało</span><br>
                                Data: <span class="gwp9e44da2e_strong">14.11.2019, godzina: 20:40</span><br>
                                Sala: <span class="gwp9e44da2e_strong">Sala D</span>

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="gwp9e44da2e_padding">
                                <p class="gwp9e44da2e_title">Bilety:</p>
                                <p>
                                    Sala D, miejsce: 1, rząd: 6, bilet: REZERWACJA<br>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <hr>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
            </tr>
            <tr>
                <td class="gwp9e44da2e_center">
                    <p class="gwp9e44da2e_info">Bilety należy odebrać w kasie
                        najpóźniej na 10 minut przed wydarzeniem. <br>

                        Dziękujemy za skorzystanie z usług Serwisu internetowej sprzedaży i
                        rezerwacji biletów Kina Atlantic.<br>
                        Niniejsza wiadomość jest generowana automatycznie i nie należy na nią
                        odpowiadać.
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</td>

</body>
</html>