.gwp9e44da2e_center {
     text-align: center;
 }
.gwp9e44da2e_tickets {
    background-color: #EDF1F3;
    padding: 10px;
}
.gwp9e44da2e_title {
    padding-top: 10px;
    font-size: 18px;
    line-height: 1.2em;
}